<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="mainpart/htmlHead :: common_header(~{::title},~{::link})">
    <title>热爱生活</title>
    <link></link>
</head>
<body>
<div>
    <form id="createUserForm" role="form" method="post" action="/createuserForm" onsubmit="return validateCallback(this)">
        <div class="modal-body" th:object="${user}">
            <div class="form-group">
                <label>用户名</label>
                <input type="text" class="form-control" name="userCode" th:value="*{userCode}?:''" placeholder="请输入用户名" required>
            </div>
            <div class="form-group">
                <label>密码</label>
                <input type="password" class="form-control" name="password"  placeholder="请输入用户名" required>
            </div>
            <div class="form-group">
                <label>确认密码</label>
                <input type="password" class="form-control" name="passwordSure"  placeholder="请输入用户名" required>
            </div>
            <div class="form-group">
                <label>姓名</label>
                <input type="text" class="form-control" name="userName" th:value="*{userName}?:''" placeholder="请输入姓名" required>
            </div>
            <div class="form-group ">
                <label>邮箱</label>
                <input type="text" class="form-control" name="eMail" th:value="*{email}?:''" placeholder="请输入邮箱">
            </div>

            <input th:value="*{id}?:''"type="hidden" name="id">
            <input th:value="*{salt}?:''"type="hidden" name="salt">
        </div>
        <div class="modal-footer">
            <input th:value="${saveFlg}"type="hidden" name="saveFlg">
            <button id="delCollect" type="button" onclick="ajaxForm(this.form,createUserForm)"  class="btn btn-primary">确定</button>
            <button type="button" onclick="layerClose()" class="btn btn-danger">取消</button>
        </div>
    </form>
</div>
</body>
<!--使用公有js-->
<div th:replace="mainpart/htmlJs :: common_js(~{::script})">
<script>
    function createUserForm(json){
        if(!json.errmsg){
            layerClose();
            felshTable(parent.$("#userTab"),1);
        }else{
            alert(json.errmsg);
        }
    }
    (function() {
        $('#createUserForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                userCode: {
                    message: '用户名不合法',
                    validators: {
                        notEmpty: {
                            message: '用户名不能为空'
                        }
                    }
                },
                password:{
                    message: '密码不合法',
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        identical: {
                            field: 'passwordSure',
                            message: '两次输入的密码不相符'
                        }
                    }
                },
                passwordSure:{
                    message: '确认密码不合法',
                    validators: {
                        notEmpty: {
                            message: '确认密码不能为空'
                        },
                        identical: {
                            field: 'password',
                            message: '两次输入的密码不相符'
                        }
                    }
                },
                userName:{
                    message: '姓名不合法',
                    validators: {
                        notEmpty: {
                            message: '姓名不能为空'
                        }
                    }
                }
            }
        });
    })();
</script>
</div>
</html>