<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <script>

    </script>
   <div th:fragment="alert" style="z-index:1050;">
	 <div id="modal-changeSharing" class="modal fade" >
		 <div class="modal-dialog wd-xl">
		   <div th:replace="mainpart/collect :: collect">collect</div>
		 </div>
	   </div>
   <div id="modal-pub" class="modal fade" aria-hidden='true' data-backdrop='static'>
      <div class="modal-dialog">
         <div class="modal-content">
         </div>
      </div>
   </div>
  </div> 
</body>
</html>

