<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="mainpart/htmlHead :: common_header(~{::title},~{::link})">
    <title>热爱生活</title>
    <link></link>
</head>

<body onload="bodyOnload()">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table id="rzzlDeTab" class="">
                        <thead>
                        </thead>
                        <tbody id="rzzlDeTabBody">
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!--使用公有js-->
    <div th:replace="mainpart/htmlJS::common_js(~{::script})">
        <script></script>
    </div>
    <script th:inline="javascript">
        var rzzlListIndex;
        function bodyOnload(){
            $('#rzzlDeTab').bootstrapTable({
                url: "/table/rzzlDeTab",
                toolbar: '',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: false,                   //是否显示分页（*）
                sortable: false,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                //queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber:1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: true,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                //height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                showToggle:true,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                columns: [{
                    checkbox: true
                }, {
                    field: 'id',
                    title: '主键',
                    visible:false
                },{
                    field: 'startdate',
                    title: '起息日'
                }, {
                    field: 'enddate',
                    title: '结息日'
                }, {
                    field: 'retdate',
                    title: '还款日'
                }, {
                    field: 'retbal',
                    title: '租金'
                },{
                    field: 'retamt',
                    title: '本金'
                },{
                    field: 'retint',
                    title: '利息'
                }  ],
                queryParams : function (params) {
                    //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                    var temp = $("#formSearch").serializeJsonObject();
                    temp["limit"] = params.limit;
                    temp["offset"] = params.offset;
                    temp['sort'] = params.sort;
                    temp['sortOrder'] = params.order ;
                    temp['prjId'] = [[${prjId}]];
                    return temp;
                }
            });
        }
        function importFileRzzl(tableSelect,rowid,tilte,width,height){
            var json =  $(tableSelect).bootstrapTable('getRowByUniqueId',rowid);
            rzzlListIndex =layer.open({
                type: 2,
                title: tilte,
                maxmin: true,
                shadeClose: true, //点击遮罩关闭层
                area : [width+'px' , height+'px'],
                content: "/importFile?url=/importRzzl&callback=parent.importFlash&data="+encodeURIComponent(JSON.stringify(json))
            });
        }
        function flashRzzlList(){
            felshTable($("#rzzlTab"),1);
        }
        function importFlash(json){
            if(json){
                var result = JSON.parse(json);
                if(result.errmsg){
                    alert(result.errmsg);
                }else{
                    layer.close(rzzlListIndex);
                    felshTable($("#rzzlTab"),1);
                }
            }else{
                layer.close(rzzlListIndex);
                felshTable($("#rzzlTab"),1);
            }
        }
    </script>
</body>
</html>