<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="mainpart/htmlHead :: common_header(~{::title},~{::link})">
    <title>热爱生活</title>
    <link></link>
</head>
<!--使用公有js-->
<div th:replace="mainpart/htmlJS::common_js(~{::script})">
    <script></script>
</div>
<script th:inline="javascript">
    function getTree(){
        var tree = [[${treeData}]];
        return tree;
    }
    function bodyOnload() {
        $('#tree').treeview({
            data: getTree(),
            onNodeSelected: function (event, data) {
                goUrl('/menuTable', 'id=' + data['id'], "#menuContent");
            }
        });
        goUrl('/menuTable', 'id=0', "#menuContent");
    }
</script>
<body onload="bodyOnload()">
    <section class="content-header">
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">菜单</h3>
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <div id="tree"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">菜单信息</h3>
                    </div>
                    <div id="menuContent" class="box-body no-padding">
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>