<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="mainpart/htmlHead :: common_header(~{::title},~{::link})">
		<title>热爱生活</title>
		<link></link>
	</head>
  <body class="hold-transition skin-blue sidebar-mini fixed">
    <div th:fragment="navbar"  class="wrapper"  role="navigation">
		<div th:replace="mainpart/header :: header">Header</div>
		<div th:replace="mainpart/left :: left">left</div>
		
		<div th:replace="mainpart/content :: maincontent" ></div>
		
		<div th:replace="mainpart/footer :: footer">footer</div>
		<div th:replace="mainpart/sidebar :: sidebar">sidebar</div>
		<div th:replace="mainpart/sidebar :: sidebarbg">sidebarbg</div>
    </div>
	<div th:replace="mainpart/alert :: alert">alert</div>
	<!--使用公有js-->
	<div th:replace="mainpart/htmlJS::common_js(~{::script})">
		<script>
            $(function () {
                addTabs({
                    id:'homepage',title: '主页',close: false,url: '/content',urlType: 'common',iframeFlg:'1'
                });
                App.fixIframeCotent();
            });
            function getHeight() {
				return $(window).height();
            }
		</script>
	</div>
</body>
</html>
