<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="mainpart/htmlHead :: common_header(~{::title},~{::link})">
		<title>热爱生活</title>
		<link></link>
	</head>
  <body class="hold-transition skin-blue sidebar-mini fixed">
    <div th:fragment="navbar"  class="wrapper"  role="navigation">
		<div th:replace="mainpart/header :: header">Header</div>
		<div th:replace="mainpart/left :: left">left</div>
		
		<div th:replace="mainpart/content :: maincontent" ></div>
		
		<div th:replace="mainpart/footer :: footer">footer</div>
		<div th:replace="mainpart/sidebar :: sidebar">sidebar</div>
		<div th:replace="mainpart/sidebar :: sidebarbg">sidebarbg</div>
    </div>
	<div th:replace="mainpart/alert :: alert">alert</div>
	<!--使用公有js-->
	<div th:replace="mainpart/htmlJS::common_js(~{::script})">
		<script>
            $(function () {
                addTabs({
                    id:'homepage',title: '主页',close: false,url: '/content',urlType: 'common',iframeFlg:'1'
                });
                App.fixIframeCotent();
                var menus = [
                    {
                        id: "9000",
                        text: "header",
                        icon: "",
                        isHeader: true
                    },
                    {
                        id: "9001",
                        text: "UI Elements",
                        icon: "fa fa-laptop",
                        children: [
                            {
                                id: "90011",
                                text: "buttons",
                                icon: "fa fa-circle-o",
                                url: "UI/buttons_iframe.html",
                                targetType: "iframe-tab"
                            },
                            {
                                id: "90012",
                                text: "icons",
                                url: "UI/icons_iframe.html",
                                targetType: "iframe-tab",
                                icon: "fa fa-circle-o"
                            },
                            {
                                id: "90013",
                                text: "general",
                                url: "UI/general_iframe.html",
                                targetType: "iframe-tab",
                                icon: "fa fa-circle-o"
                            },
                            {
                                id: "90014",
                                text: "modals",
                                url: "UI/modals_iframe.html",
                                targetType: "iframe-tab",
                                icon: "fa fa-circle-o"
                            },
                            {
                                id: "90015",
                                text: "sliders",
                                url: "UI/sliders_iframe.html",
                                targetType: "iframe-tab",
                                icon: "fa fa-circle-o"
                            },
                            {
                                id: "90016",
                                text: "timeline",
                                url: "UI/timeline_iframe.html",
                                targetType: "iframe-tab",
                                icon: "fa fa-circle-o"
                            }
                        ]
                    },
                    {
                        id: "9002",
                        text: "Forms",
                        icon: "fa fa-edit",
                        children: [
                            {
                                id: "90021",
                                text: "advanced",
                                url: "forms/advanced_iframe.html",
                                targetType: "iframe-tab",
                                icon: "fa fa-circle-o"
                            },
                            {
                                id: "90022",
                                text: "general",
                                url: "forms/general_iframe.html",
                                targetType: "iframe-tab",
                                icon: "fa fa-circle-o"
                            },
                            {
                                id: "90023",
                                text: "editors",
                                url: "forms/editors_iframe.html",
                                targetType: "iframe-tab",
                                icon: "fa fa-circle-o"
                            },
                            {
                                id: "90024",
                                text: "百度",
                                url: "https://www.baidu.com",
                                targetType: "iframe-tab",
                                icon: "fa fa-circle-o",
                                urlType: 'abosulte'
                            }
                        ]
                    }
                ];
                $('.sidebar-menu').sidebarMenu({data: menus});

            });

		</script>
	</div>
</body>
</html>
